<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Index page</title>
  </head>
  <body>
    <h1>Página inicial, ¡bienvenido a la súper-tienda!</h1>
    <br>
    <span id="recurso">
      <a href="/layout/recurso1.html"><img src="/static/image/recurso1.jpg" alt="Imagen 1"></a>
    </span>
    <span id="recurso">
      <a href="/layout/recurso2.html"><img src="/static/image/recurso2.jpg" alt="Imagen 2"></a>
    </span>
    <span id="recurso">
      <a href="/layout/recurso3.html"><img src="/static/image/recurso3.jpg" alt="Imagen 3"></a>
    </span>
    <br>
    <span id="recurso">
      <a href="/layout/recurso4.html"><img src="/static/image/recurso4.jpg" alt="Imagen 4"></a>
    </span>
    <span id="recurso">
      <a href="/layout/recurso5.html"><img src="/static/image/recurso5.jpg" alt="Imagen 5"></a>
    </span>
    <span id="recurso">
      <a href="/layout/recurso6.html"><img src="/static/image/recurso6.jpg" alt="Imagen 6"></a>
    </span>
  </body>
</html>
