#header {
  color: orange;
  font-size: 50px;
}

.img-header {
  width: 150px;
}

#recurso {
  width: 50%;
}

body {
  background-color: green;
  text-align: center;
}

img {
  width: 50%;
  border: 1px solid black;
}
