<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/master.css">
    <script src="/client-2.js"></script>
    <title>Súper-Tienda</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img class="img-header" src="/index.jpg" alt="Imagen navbar">
        <span id="header">SUPER-TIENDA</span>
      </a>
      <div class="dropdown">
        <button class="btn btn-light btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/show_cart">Consultar Carrito</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/register.html">Registrarse</a>
        </div>
      </div>
      <div class="form-inline my-2 my-lg-0">
        <input id="ver" autocomplete="off" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="position:static;"/>
        <ul id="resultado" class="list-group" data-toggle="dropdown"></ul>
      </div>
    </nav>
    <img src="/donuts-azucar.jpg" alt=""/>
    <form action="buy" method="post">
      Nombre: <input type="text" name="name" value="" autocomplete="off" required/>
      <input type="text" name="product" value="donut de azucar" readonly/>
      <input type="submit" value="comprar">
    </form>
    <a href="/">Volver</a>
  </body>
</html>
