<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/master.css">
    <title>Súper-Tienda</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">
        <img class="img-header" src="/index.jpg" alt="Imagen navbar">
        <span id="header">SUPER-TIENDA</span>
      </a>
      <div class="dropdown">
        <button class="btn btn-light btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/action.show_cart">Consultar Carrito</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/register.html">Registrarse</a>
        </div>
      </div>
      <div class="form-inline my-2 my-lg-0">
        <input id="ver" autocomplete="off" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="position:static;"/>
        <ul id="resultado" class="list-group" data-toggle="dropdown"></ul>
      </div>
    </nav>
    <br><br>
    <div id="donut-de-chocolate" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/donut-de-chocolate.html">
        <img id="recurso" src="/donuts-chocolate.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Donut de chocolate</strong> → Precio: 0.25 €/unidad
    </div>
    <div id="donut-de-azucar" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/donut-de-azucar.html">
        <img id="recurso" src="/donuts-azucar.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Donut de azucar</strong> → Precio: 0.25 €/unidad
    </div>
    <div id="palmera-de-chocolate" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/palmera-de-chocolate.html">
        <img id="recurso" src="/palmera-chocolate.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Palmera de chocolate</strong> → Precio: 1.69 €/unidad
    </div>
    <div id="palmera-de-hojaldre" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/palmera-de-hojaldre.html">
        <img id="recurso" src="/palmera-hojaldre.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Palmera de hojaldre</strong> → Precio: 2.25 €/unidad
    </div>
    <div id="croissant-de-mantequilla" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/croissant-de-mantequilla.html">
        <img id="recurso" src="/croissant-mantequilla.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Croissant mantequilla</strong> → Precio: 0.29 €/unidad
    </div>
    <div id="napolitana-de-3-chocolates" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/napolitana-de-3-chocolates.html">
        <img id="recurso" src="/napolitana-3-chocolates.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Napolitana de 3 chocolates</strong> → Precio: 1.00 €/unidad
    </div>
    <div id="croissant-franckfurt" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/croissant-franckfurt.html">
        <img id="recurso" src="/croissant-franckfurt.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Croissant franckfurt</strong> → Precio: 0.96 €/unidad
    </div>
    <div id="flautas-crema" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/flautas-crema.html">
        <img id="recurso" src="/flautas-crema.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Flautas crema</strong> → Precio: 0.36 €/unidad
    </div>
    <div id="donuts-rellenos" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/donuts-rellenos.html">
        <img id="recurso" src="/donuts-rellenos.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Donuts rellenos</strong> → Precio: 0.71 €/unidad
    </div>
    <div id="rosquillas-san-isidro-fantasia" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/rosquillas-san-isidro-fantasia.html">
        <img id="recurso" src="/rosquillas-san-isidro-fantasia.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Rosquillas san isidro fantasia</strong> → Precio: 0.92 €/unidad
    </div>
    <div id="rosquillas-san-isidro-limon" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/rosquillas-san-isidro-limon.html">
        <img id="recurso" src="/rosquillas-san-isidro-limon.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Rosquillas san isidro limon</strong> → Precio: 0.92 €/unidad
    </div>
    <div id="rosquillas-san-isidro-santa-clara" class="producto" style="width:33%;float:left;text-align:center;position:static;">
      <a href="/rosquillas-san-isidro-santa-clara.html">
        <img id="recurso" src="/rosquillas-san-isidro-santa-clara.jpg" alt="Imagen">
      </a>
      <br>
      <strong>Rosquillas san isidro santa clara</strong> → Precio: 0.92 €/unidad
    </div>
  </div>
  </body>
  <script src="/client-2.js"></script>
  <script src="/jquery.min.js"></script>
</html>
