@font-face {
  src: url("ARCHER.TTF");
  font-family: archer;
}

body {
  font-family: archer;
  text-align: center;
}

.container {
  font-family: monospace;
  width: 100%;
  height: 50%;
  text-align: center;
}

#display-panel {
  float: left;
  margin-left: 15%;
  text-align: left;
}

#display, #msg, #send {
  font-size: 125%;
  font-family: inherit;
}

#title {
  font-size: 500%;
}

#msg, #send {
  float: right
}

#send {
  margin-right: 15%;
  border-radius: 150px;
}
